.attitude {
  padding-bottom: 0px;

  &__box {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__image {
    max-width: 450px;
    height: 120px;
    border-radius: 4px;
    background-color: getBgColor("background-2");
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image--title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 30px;
    text-align: center;
  }
  &__image--content {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: getColor("font-3");
    padding-top: 10px;
    max-width: 450px;
  }
  @include tablet {
    padding-bottom: 45px;
    &__box {
      flex-direction: row;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
    &__image {
      max-width: 354px;
    }
    .attitude__image--title {
      text-align: left;
      max-width: 354px;
    }

    .attitude__image--content {
      max-width: 354px;
      text-align: left;
    }
  }
  @include desktop {
    &__box {
      flex-wrap: nowrap;
    }

    &__image {
      max-width: 270px;
    }

}
}
