.custommers {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
  }
  &__box {
   max-width: 210px;
    height: 92px;
    fill: getBgColor("icon-1");
    border: 1px solid getBgColor("icon-1");
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__box:hover {
    border: 1px solid getBgColor("active");
    fill: getBgColor("active");
    cursor: pointer;
  }
  @include tablet {
  
  &__box{
    max-width: 226px;
  }}

@include desktop {
    gap: 50px;
  
  &__box{
    max-width: 170px; 

  }}
}
