.footer {
  background-color: getBgColor("background-3");

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__logo {
    padding-bottom: 20px;
    justify-content: center;
  }
  &__box-contact {
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    align-items: center;
  }
  &__box-contact--address {
    color: getColor("font-2");
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__box-contact--mail {
    text-decoration-line: underline;
    color: getColor("font-4");
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__box-contact--tel {
    color: getColor("font-4");
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__box-contact--address:hover,
  &__box-contact--address:focus,
  &__box-contact--mail:hover,
  &__box-contact--mail:focus,
  &__box-contact--tel:hover,
  &__box-contact--tel:focus {
    color: getColor("font-active");
  }
  @include tablet {
    &__container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
.join-us {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-bottom: 60px;

  &__slogan {
    color: getColor("font-2");
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__social {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  @include tablet {
    padding-top: 60px;
  }
}
.newsletter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-bottom: 60px;
  max-width: 450px;

  &__slogan {
    color: getColor("font-2");
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__subscribe {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  @include desktop {
    padding-top: 60px;
    &__subscribe {
      flex-direction: row;
    }
  }
}
.subscribe-email-form {
  height: 50;

  border-radius: 4px;
  border: 1px solid getBgColor("border-3");
  padding: 15px 16px;
  background-color: getBgColor("background-3");
  color: getBgColor("deafult-2");
  line-height: 1.07;
  outline: none;
  max-width: 450px;
  width: 100%;
  @include desktop {
    max-width: 358px;
  }
}

.button-sign-in {
  fill: getBgColor("deafult-2");
  background-color: getBgColor("button-activebg");
  padding: 10px 48px 10px 42px;
  max-width: 200px;
  max-height: 50px;
  box-shadow: rgba(0, 0, 0, 0.15);
}
