.hero {
  background: getBgColor("background-3");

  &__slogan {
    background: getBgColor("background-3");
    background: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(10, 10, 10, 0.73)
      ),
      url(../images/background-slogan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:400px;
    background-position: center;
    margin: 0 auto;
  }

  &__flex-slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 118px 0 ;
  }
  @include tablet {
  }
  @include desktop {
    .hero-image {
      width: 100%;
      height: 600px;
      max-width: 1600px; 
      padding: 200px 0;
    }
}}
.slogan {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: getColor("font-2");
  max-width: 696px;
  max-height: 120px;
  margin: 0 auto;
}
