.hero {
  
  background: getBgColor("background-3");

  &__slogan {
    
    background: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(10, 10, 10, 0.73)
      ),
      url(../images/background-slogan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    height: 400px;
    background-position: center;
    margin: 0 auto;
  }

  &__flex-slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding:118px 0;

  }
  @include tablet {
  }
  @include desktop {
    &__slogan {
      width: 100%;
      height: 600px;
      
    }
    &__flex-slogan{
      padding: 200px 0;
    }
}}

.slogan {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: getColor("font-2");
  max-width:365px;

}
@include tablet {
}
@include desktop {
  .slogan {
    font-size: 44px;
    max-width: 696px;}
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero__slogan {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-slogan2x.jpg);
    }
}
