.logo {
  font-family:'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  max-width: 768px;
  display: flex;
  flex-direction: row;
  
  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    font-size: 26px;
   
  }
  
  &__blue {
    color: getColor("font-active");
  }

  &__dark {
    color: getColor("font-1");
  }
  &__bright {
    color: getColor("font-2");
  }
}
