.logo {
  font-family: $fontFamilyLogo;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  max-width: 145px;
  display: flex;
  flex-direction: row;
  
  @include tablet {
    .logo{
    max-width: 768px;
    margin-right: 83px;
  }}

  @include desktop {
    .logo{
    font-size: 26px;
    margin-right: 93px;
  }}

  &__blue {
    color: getColor("font-active");
  }

  &__dark {
    color: getColor("font-1");
  }
  &__bright {
    color: getColor("font-2");
  }
}
